// ---------------------------------------------------------------------------
// Imports

@import "susy";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 6;
$column-width   : 5.4em;
$gutter-width   : 1.5em;
$grid-padding   : $gutter-width;


