// ---------------------------------------------------------------------------
// Imports

@import "base";

/* -------------------------------------------------------------------------*/
/* Layout */

.container {
  @include container;

  
	.page-header {
		clear:both;
	}

	.page-footer {
		clear:both;
	}

	.secondary {
		clear: both;
	}


	// article{
	// 	clear: both;
	// }

	// aside {
	// 	clear:both;
	// }
  @include at-breakpoint(30em 8) {
    
    @include container;

    .page-header {
      height: 100px;
    }
    #home-main {
      @include span-columns(4,8);
    }
    .secondary {
      @include span-columns(4 omega, 8);
      clear: none;
    }
    .tertiary {
      clear: both;
      margin: $gutter-width 0 $gutter-width;
    }
  }
  @include at-breakpoint(45em 12) { 
    
    @include container; 

    .page-header {
      height: 100px;
      
    }
    #home-main {
    	@include span-columns(4,12);
    	
    }

    .secondary {
      @include span-columns(4 omega,12);
      clear: none;
      
      li {
      	list-style-type: none;
      }
    }

    .tertiary {
      @include span-columns(4,12);
      clear: none;
      margin-top: 0;

    }
  }
  .page-header {
    margin: 0 0 $gutter-width;
    background: #ccc;
  }

  #main, #home-main {
    background: #ccc;
  }
  .secondary {
    background: #999;
    li {
      list-style-type: none;
    }
    margin: 0 0 $gutter-width;
  }
  .tertiary {
    background: #ccc;
  }
  .page-footer {
    background: #ccc;
  }


}/*

// at-breakpoint(<$media-layout> [, <$font-size>]) { <@content> }
 @include at-breakpoint(30em 12) {
   .container { @include container; }
   	.secondary {
		@include span-columns(4,12);
	}

	article{
		@include span-columns(4,12);
	}

	aside {
		@include span-columns(4 omega,12);
	}
}
// $media-layout: <min-width> <layout> <max-width> <ie-fallback>;
// - You must supply either <min> or <layout>.
 $media-layout: 12;          // Use 12-col layout at matching min-width.
// $media-layout: 30em;        // At min 30em, use closest fitting layout.
$media-layout: 30em 12;     // At min 30em, use 12-col layout.
// $media-layout: 12 60em;     // Use 12 cols up to max 60em.
// $media-layout: 30em 60em;   // Between min 30em & max 60em, use closest layout.
// $media-layout: 30em 12 60em;// Use 12 cols between min 30em & max 60em.
// $media-layout: 60em 12 30em;// Same. Larger length will always be max-width.
// $media-layout : 12 lt-ie9;  // Output is included under `.lt-ie9` class,
                            // for use with IE conditional comments 
                            // on the <html> tag.

*/                            